@model IEnumerable<MusicCollectionManager.Models.GroupLinking>

@{
    ViewData["Title"] = "Group Linkings";
}

<h1>Group Linkings Table</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistID)
            </th>
            <th>
                <a href="Groups" target="_blank">GroupID</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LinkID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LinkID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LinkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>Total results: @Model.Count()</p>