@model IEnumerable<MusicCollectionManager.ViewModels.GroupViewModel>

@{
    ViewData["Title"] = "Groups";
}

<h1>Groups Table</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Group ID</th>
            <th>Featured Artists</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeaturedArtists)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>Total results: @Model.Count()</p>