@model MusicCollectionManager.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfSongs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfSongs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlbumID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
