@model MusicCollectionManager.Models.Credit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Credit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusicianID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusicianID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CreditID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
